# Nextflow
.nextflow*
.nextflow/
work/
.nf-work/
trace.txt*
timeline.html*
report.html*
dag.html*

# Outputs
results/
out/
logs/

# Input data
data/*
!data/.gitkeep

*.fastq
*.fastq.gz
*.fq
*.fq.gz

# BLAST database and reference files
FLU_DB/*
!FLU_DB/.gitkeep

# macOS
.DS_Store
