params {
  reads_dir = null
  reads = "data/*-R{1,2}.fastq.gz"

  outdir  = "results"
  threads = 1

  irma_module = "FLU"

  // Primer trimming is disabled by default because no universal primer set
  // should be assumed. Enable with --trim_primers true after supplying the
  // exact primers used for the library.
  trim_primers = false
  primers_5p_r1 = []
  primers_5p_r2 = []
  cutadapt_min_overlap = 10
  cutadapt_error_rate = 0.1

  host = "human"

  coverage_threshold = 20
  coverage_script = "${projectDir}/scripts/irma_coverage.R"

  // Subtype evidence thresholds
  subtype_min_median_depth = 20
  subtype_min_breadth = 0.80
  subtype_minor_fraction = 0.10

  // BLAST database path inside the BLAST container
  blast_db = "/blast/blastdb/fluA_db/fluA_db"
  vadr_mkey = "flu"

  variant_annotation_script = "${projectDir}/scripts/map_irma_to_vadr_aa.R"
  genetic_code = "${projectDir}/resources/genetic_code_translation_table_1.csv"

  // Default Docker-compatible container names
  cutadapt_container = "quay.io/biocontainers/cutadapt:4.8--py310h4b81fae_0"
  fastqc_container = "quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0"
  fastp_container = "quay.io/biocontainers/fastp:0.23.2--hb7a2d85_2"
  multiqc_container = "ewels/multiqc:latest"
  irma_container = "ghcr.io/cdcgov/irma:v1.3.1"
  r_base_container = "rocker/r-base:4.3.2"
  blast_container = "ncbi/blast"
  vadr_container = "staphb/vadr"
  ivar_container = "staphb/ivar"
  samtools_container = "quay.io/biocontainers/samtools:1.21--h50ea8bc_0"
}

process {
  executor = 'local'
  cpus = 1
  memory = '4 GB'
  time = '2h'

  // Conservative settings for laptops and desktops. These limits prevent
  // many samples from running fastp/FastQC simultaneously and exhausting
  // Docker memory.
  withName: CUTADAPT_PRIMERS {
    cpus = 1
    memory = '2 GB'
    time = '2h'
    maxForks = 1
  }

  withName: FASTQC_RAW {
    cpus = 1
    memory = '2 GB'
    time = '2h'
    maxForks = 1
  }

  withName: FASTP {
    cpus = 1
    memory = '4 GB'
    time = '4h'
    maxForks = 1
  }

  withName: FASTQC_TRIMMED {
    cpus = 1
    memory = '2 GB'
    time = '2h'
    maxForks = 1
  }

  withName: MULTIQC {
    cpus = 1
    memory = '2 GB'
    time = '1h'
    maxForks = 1
  }

  withName: IRMA_RUN {
    cpus = 2
    memory = '8 GB'
    time = '8h'
    maxForks = 2
  }

  withName: IRMA_COVERAGE {
    cpus = 1
    memory = '2 GB'
    time = '1h'
    maxForks = 2
  }

  withName: BLASTN_IRMA_PASS_SEGMENTS {
    cpus = 2
    memory = '4 GB'
    time = '2h'
    maxForks = 2
  }

  withName: VADR_IRMA_PASS_SEGMENTS {
    cpus = 1
    memory = '2 GB'
    time = '30m'
    maxForks = 2
  }

  withName: MAP_IRMA_TO_VADR_AA {
    cpus = 1
    memory = '2 GB'
    time = '1h'
    maxForks = 2
  }

  withName: SUBTYPE_EVIDENCE {
    cpus = 1
    memory = '2 GB'
    time = '30m'
    maxForks = 2
  }

  withName: SUMMARY_REPORT {
    cpus = 1
    memory = '1 GB'
    time = '30m'
    maxForks = 2
  }
}

profiles {
docker {
    docker.enabled = true
    apptainer.enabled = false

    process {
        withName: BLASTN_IRMA_PASS_SEGMENTS {
            containerOptions = "-v ${projectDir}/FLU_DB:/blast/blastdb:ro"
        }

        withName: VADR_IRMA_PASS_SEGMENTS {
            containerOptions = "--platform linux/amd64"
        }
    }

    params.cutadapt_container = "quay.io/biocontainers/cutadapt:4.8--py310h4b81fae_0"
    params.fastqc_container = "quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0"
    params.fastp_container = "quay.io/biocontainers/fastp:0.23.2--hb7a2d85_2"
    params.multiqc_container = "ewels/multiqc:latest"
    params.irma_container = "ghcr.io/cdcgov/irma:v1.3.1"
    params.r_base_container = "rocker/r-base:4.3.2"
    params.blast_container = "ncbi/blast"
    params.vadr_container = "staphb/vadr"
    params.ivar_container = "staphb/ivar"
    params.samtools_container = "quay.io/biocontainers/samtools:1.21--h50ea8bc_0"
}

  apptainer {
    docker.enabled = false
    apptainer.enabled = true
    apptainer.autoMounts = true
    apptainer.pullDockerContainer = true

    process {
      withName: BLASTN_IRMA_PASS_SEGMENTS {
        containerOptions = "--bind ${projectDir}/FLU_DB:/blast/blastdb"
      }
    }

    params.cutadapt_container = "docker://quay.io/biocontainers/cutadapt:4.8--py310h4b81fae_0"
    params.fastqc_container = "docker://quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0"
    params.fastp_container = "docker://quay.io/biocontainers/fastp:0.23.2--hb7a2d85_2"
    params.multiqc_container = "docker://ewels/multiqc:latest"
    params.irma_container = "docker://ghcr.io/cdcgov/irma:v1.3.1"
    params.r_base_container = "docker://rocker/r-base:4.3.2"
    params.blast_container = "docker://ncbi/blast"
    params.vadr_container = "docker://staphb/vadr"
    params.ivar_container = "docker://staphb/ivar"
    params.samtools_container = "docker://quay.io/biocontainers/samtools:1.21--h50ea8bc_0"
  }

  apgap {
    // Add site- or cluster-specific settings here.
  }
}
